{% extends "layoutmainpages.html" %}

{% block title %}
    Games
{% endblock %}

{% block body %}
    <h1>
        Available Games
    </h1>
    <div class="centered">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        Host
                    </th>
                    <th scope="col">
                        Available Slots
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            {% for game in games %}
                <tr>
                    <td>
                        {{ game.game_creator.get_username() }}
                    </td>
                    <td>
                        {{ game.available_slots }}
                    </td>
                    <td>
                        <form method="post">
                            <div>
                                <input type="hidden" name="game_id" value="{{ game.id }}" />
                                <input type="submit" value="Join Game"/>
                            </div>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>
            {% if current_user.get_can_create_games() == True %}
                {% if hosted_game %}
                <h3>
                    You already have a game running
                </h3>
                <form method="post">
                    <div>
                        <input type="hidden" name="delete_hosted_game" value="1"/>
                        <input type="submit" value="Delete Game"/>
                    </div>
                </form>
                {% else %}
                <h2>
                    <a href="/create_game">Create Game</a>
                </h2>
                {% endif %}
            {% else %}
                <h3>
                    You do not have permission to create games
                </h3>
            {% endif %}
        </div>
    </div>
{% endblock %}
