{% extends "layoutauthenticationpages.html" %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <h1>
        Login
    </h1>
    <form action="/login" method="post" >
        <div class="form-section">
            <div>
                <input autocomplete="off" autofocus name="username" placeholder="Username" type="text" required>
            </div>
            <div>
                <input autocomplete="off" name="password" placeholder="Password" type="password" required>
            </div>
        </div>
        <div class="form-section">
            <div>
                <input class="btn btn-primary" type="submit" value="Login">
            </div>
        </div>
    </form>
    <div>
        Don&#39;t have an account? <a href="/register">Register</a>
    </div>
{% endblock %}
